<style>
    .container {}
  
    #frontimg {
      width: 600px;
      height: auto;
      float: left;
      position: absolute;
      top: 0;
      left: 0;
    }
  
    .login-form-container {
      float: right;
      width: 40%;
      top: 125px;
      margin: 0 3.5%;
      padding: 20px;
      border-radius: 8px;
      position: relative;
    }
  </style>
  
  <div class="container">
    <img
      id="frontimg"
      src="https://media.vogue.co.uk/photos/639206c634bc3e7228867716/3:4/width_1600/RPA_210522_BV_12_008_C.jpg"
      alt="Logo"
    />
  </div>
  
  <div class="login-form-container">
    <p style="font-family: Didot; font-size: 45px; margin: 0;">ARMOIRE</p>
    <p style="font-family: Didot; margin: 0; line-height: 1;">
      <em>Your reimagined wardrobe</em>
    </p>
    <p style="font-family: Didot; font-size: 15px; margin-top: 4em;">
      CREATE ACCOUNT
    </p>
  
    <form (ngSubmit)="register()" #registerForm="ngForm">
        <div>
        <input
          type="email"
          [(ngModel)]="email"
          name="email"
          placeholder="Email address"
          required
          style="font-family: Didot; background-color: rgb(255, 254, 254); color: rgb(0, 0, 0); width: 100%; border: 2px solid rgb(164, 164, 164); font-size: 16px; height: 35px; width: 400px;"
        />
      </div>
  
      <div style="height: 20px;"></div>
  
      <div>
        <input
          type="password"
          [(ngModel)]="password"
          name="password"
          placeholder="Create password"
          required
          style="font-family: Didot; background-color: rgb(255, 254, 254); color: rgb(0, 0, 0); width: 100%; border: 2px solid rgb(164, 164, 164); font-size: 16px; height: 35px; width: 400px;"
        />
      </div>
  
      <div style="height: 20px;"></div>
  
      <div>
        <input
          type="submit"
          value="Create Account"
          style="font-family: Didot; background-color: black; color: white; width: 100%; padding: 10px; border: none; border-radius: 5px; font-size: 16px; width: 405px;"
        />
      </div>
    </form>

    <p style="font-family: Didot;">
        <a (click)="goToLogin()">Already a member? Go back to sign in.</a>
    </p>
  
    <p style="font-family: Didot;">
