<div class="dashboard-header">
    <div class="header-section left">
      <p class="siteName">wearhouse</p>
    </div>
  
    <div class="header-section center">
        <button class="menu-btn" routerLink="/wardrobe" routerLinkActive="active">Wardrobe</button>
        <button class="menu-btn" routerLink="/styling" routerLinkActive="active">Styling</button>
    </div>
  
    <div class="header-section right">
      <button
      class="profile-btn"
      [routerLink]="['/profile', auth.getCurrentUser()?.userId]"
      routerLinkActive="active">
      My Profile
    </button>    
  </div>
  </div>

  <nav *ngIf="showWardrobeSubnav" class="wardrobe-subnav">
    <button class="subnav-btn" routerLink="/wardrobe" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">All items</button>
    <button class="subnav-btn" routerLink="/wardrobe/add" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Add new item</button>
  </nav>

  <hr class="divider-line" />


  <router-outlet></router-outlet>