.dashboard-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
  }
  
  .header-section.left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 0px;
  }
  
  .header-section.center {
    display: flex;
    gap: 40px;
    justify-content: center;
    flex: 1;
    margin-left: -70px;
  }
  
  .header-section.right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .siteName {
    font-family: Didot;
    font-size: 45px;
    margin: 0;
    color: #242424;
  }
  
  .siteSubtitle {
    font-family: Didot;
    font-size: 16px;
    color: #666;
    margin: 0;
  }
  
  .menu-btn,
  .profile-btn {
    background: none;
    border: none;
    font-family: Didot;
    font-size: 16px;
    color: #242424;
    cursor: pointer;
  }
  
  .menu-btn:hover,
  .profile-btn:hover {
    text-decoration: underline;
  }

  .menu-btn.active {
    text-decoration: underline;
    font-weight: bold;
  }

  .divider-line {
    width: 100%;
    height: 1px;
    background-color: #ccc;
    margin: 7px 0;
  }

   
.wardrobe-subnav {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex: 1;
    margin-left: 60px;
    margin-top: 30px;
}
  
  .subnav-btn {
    background: none;
    border: none;
    font-family: Didot;
    font-size: 14px;
    color: #333;
    cursor: pointer;
  }
  
  .subnav-btn:hover {
    text-decoration: underline;
  }

  .subnav-btn.active {
    text-decoration: underline;
    font-weight: bold;
  }