<form #profileForm="ngForm" (ngSubmit)="saveProfile(profileForm)">
  
    <div class="form-row">
      <label for="name">Name</label>
      <input id="name" name="name" type="text"
        [(ngModel)]="user.name" required #nameField="ngModel" />
      <div class="error" *ngIf="nameField.invalid && nameField.touched">
        Name is required
      </div>
    </div>
  
    <div class="form-row">
      <label for="email">Email</label>
      <input id="email" name="email" type="email"
        [(ngModel)]="user.email" required #emailField="ngModel" />
      <div class="error" *ngIf="emailField.invalid && emailField.touched">
        Valid email is required
      </div>
    </div>
  
    <div class="form-row">
      <label for="password">Password</label>
      <input id="password" name="password" type="password"
        [(ngModel)]="user.password" required #pwField="ngModel" />
      <div class="error" *ngIf="pwField.invalid && pwField.touched">
        Password is required
      </div>
    </div>
  
    <div class="actions">
      <button type="submit" [disabled]="profileForm.invalid">Save</button>
      <button type="button" class="delete" (click)="deleteAccount()">Delete Account</button>
      <button type="button" (click)="logout()">Logout</button>
    </div>
  
    <div class="error" *ngIf="errorMsg">{{ errorMsg }}</div>
  </form>