<!-- src/app/pages/wardrobe/wardrobe.component.html -->

<!-- Filter links (unchanged) -->
<div class="filter-favorites">
    <span class="filter-link" [class.active]="!showOnlyFavorites" (click)="showAll()">
      My wardrobe
    </span>
    <span class="filter-link" [class.active]="showOnlyFavorites" (click)="showFavorites()">
      My favorites
      </span> 
    </div>

    <div class="filter-section">
        <!-- Colors Filter -->
        <mat-chip-listbox multiple>
            <mat-chip-option *ngFor="let color of availableColors"
                             [selected]="isSelected('color', color.colorId)"
                             (click)="toggleSelection('color', color.colorId)">
              {{ color.colorName }}
            </mat-chip-option>
          </mat-chip-listbox>
      
        <!-- Materials Filter -->
        <mat-chip-listbox multiple>
            <mat-chip-option *ngFor="let material of availableMaterials"
                             [selected]="isSelected('material', material.materialId)"
                             (click)="toggleSelection('material', material.materialId)">
              {{ material.materialName }}
            </mat-chip-option>
          </mat-chip-listbox>
      
        <!-- Brands Filter -->
        <mat-chip-listbox multiple>
            <mat-chip-option *ngFor="let brand of availableBrands"
                             [selected]="isSelected('brand', brand.brandId)"
                             (click)="toggleSelection('brand', brand.brandId)">
              {{ brand.brandName }}
            </mat-chip-option>
          </mat-chip-listbox>
      
        <!-- Occasions Filter -->
        <mat-chip-listbox multiple>
            <mat-chip-option *ngFor="let occasion of availableOccasions"
                             [selected]="isSelected('occasion', occasion.occasionId)"
                             (click)="toggleSelection('occasion', occasion.occasionId)">
              {{ occasion.occasionName }}
            </mat-chip-option>
          </mat-chip-listbox>

  
  <!-- BOTTOMS Carousel -->
  <div class="carousel-section">
  <h3 class="carousel-title">{{ bottomsTitle }}</h3>
  <div class="carousel-row">
    <div class="gallery-item" *ngFor="let item of getFiltered(bottomItems)">
      <img [src]="item.imageUrl" *ngIf="item.imageUrl; else noImage2" alt="Item" />
      <ng-template #noImage2><p>No image available</p></ng-template>
  
      <!-- absolute routerLink to /wardrobe/details/:id -->
      <button
        class="details-button"
        [routerLink]="['/wardrobe', 'details', item.itemId]">
        See details
      </button>
    </div>
  </div>
</div>
  
  <!-- TOPS Carousel -->
  <div class="carousel-section">
  <h3 class="carousel-title">{{ topsTitle }}</h3>
  <div class="carousel-row">
    <div class="gallery-item" *ngFor="let item of getFiltered(topsItems)">
      <img [src]="item.imageUrl" *ngIf="item.imageUrl; else noImage3" alt="Item" />
      <ng-template #noImage3><p>No image available</p></ng-template>
  
      <button
        class="details-button"
        [routerLink]="['/wardrobe', 'details', item.itemId]">
        See details
      </button>
    </div>
  </div>
</div>
  
  <!-- FOOTWEAR Carousel -->
  <div class="carousel-section">
  <h3 class="carousel-title">{{ footwearTitle }}</h3>
  <div class="carousel-row">
    <div class="gallery-item" *ngFor="let item of getFiltered(footwearItems)">
      <img [src]="item.imageUrl" *ngIf="item.imageUrl; else noImage4" alt="Item" />
      <ng-template #noImage4><p>No image available</p></ng-template>
  
      <button
        class="details-button"
        [routerLink]="['/wardrobe', 'details', item.itemId]">
        See details
      </button>
    </div>
  </div>
</div>
  
  <!-- ACCESSORIES Carousel -->
  <div class="carousel-section">
  <h3 class="carousel-title">{{ accessoriesTitle }}</h3>
  <div class="carousel-row">
    <div class="gallery-item" *ngFor="let item of getFiltered(accessoriesItems)">
      <img [src]="item.imageUrl" *ngIf="item.imageUrl; else noImage5" alt="Item" />
      <ng-template #noImage5><p>No image available</p></ng-template>
  
      <button
        class="details-button"
        [routerLink]="['/wardrobe', 'details', item.itemId]">
        See details
      </button>
    </div>
  </div>
</div>

  <!-- OUTERWEAR Carousel -->
  <div class="carousel-section">
  <h3 class="carousel-title">{{ outerwearTitle }}</h3>
  <div class="carousel-row">
    <div class="gallery-item" *ngFor="let item of getFiltered(outerwearItems)">
      <img [src]="item.imageUrl" *ngIf="item.imageUrl; else noImage6" alt="Item" />
      <ng-template #noImage6><p>No image available</p></ng-template>
  
      <button
        class="details-button"
        [routerLink]="['/wardrobe', 'details', item.itemId]">
        See details
      </button>
    </div>
  </div>
</div>