<div class="container">
    <img id="frontimg" src="3ddb70025fcaa5880813c1c415c03ec8.jpg" alt="Sign In" />
</div>

<div class="login-form-container">
    <p class="siteName">ARMOIRE</p>
    <p class="siteSubtitle"><em>Your reimagined wardrobe</em></p>
    <p class="login-section-title">SIGN IN</p>

    <form (ngSubmit)="login()" #loginForm="ngForm">
        <div>
            <input 
            type="email" 
            [(ngModel)]="email" 
            name="email" 
            placeholder="Email address" 
            required
            class="login-input" />
        </div>

        <div class="form-spacing"></div>

        <div>
            <input 
            type="password" 
            [(ngModel)]="password" 
            name="password" 
            placeholder="Password" 
            required
            class="login-input" />
        </div>

        <div class="form-spacing"></div>

        <div>
            <input 
            type="submit" 
            value="Sign In" 
            class="login-submit" />
        </div>
    </form>

    <p class="login-link">
        <a (click)="goToRegister()">Not part of Armoire yet? Step into your dream wardrobe.</a>
    </p>
</div>