<div class="dashboard-header">
    <div class="header-section left">
      <p class="siteName">ARMOIRE</p>
      <p class="siteSubtitle"><em>Your reimagined wardrobe</em></p>
    </div>
  
    <div class="header-section center">
      <button class="menu-btn">My Clothes</button>
      <button class="menu-btn">Favorites</button>
      <button class="menu-btn">Create Your Outfit</button>
    </div>
  
    <div class="header-section right">
      <button class="profile-btn">My Profile</button>
    </div>
  </div>